

section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

section div{
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #333;
}

section div p{
  margin-top: 1rem;
}


